<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.qhit.doctorMenuMedicine.dao.IDoctorMenuMedicineDao"> 
	<!-- 自定义结果集 --> 
	<resultMap id="BaseResultMap" type="com.qhit.doctorMenuMedicine.pojo.DoctorMenuMedicine"> 
		<id property="mdId" column="md_id" javaType="java.lang.Integer"></id> 
		<result property="menuId" column="menu_id" javaType="java.lang.Integer"></result> 
		<result property="codeId" column="code_id" javaType="java.lang.Integer"></result> 
		<result property="amt" column="amt" javaType="java.lang.Integer"></result> 
	</resultMap>
	<resultMap id="doctorMenuMedicineResultMap" type="com.qhit.doctorMenuMedicine.pojo.DoctorMenuMedicine">
		<result property="amt" column="amt"></result>
		<result property="codeId" column="code_id"></result>
		<result property="menuId" column="menu_id"></result>
		<association property="medicineCode" javaType="com.qhit.medicineCode.pojo.MedicineCode">
			<result property="medicineName" column="MEDICINE_NAME"></result>
		</association>
	</resultMap>

	<!-- 在各种标签中，id属性必须与接口中的方法名一样，id的值必须是唯一的，parameterType指查询时使用的参数类型， 
	resultType属性指明查询返回的结果集类型    --> 
 
	<sql id="Base_Column_List" > 
		md_id,menu_id,code_id,amt 
	</sql> 
	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_menu_medicine 
		where md_id = #{mdId} 
	</select> 
	<delete id="delete" parameterType="java.lang.Integer" > 
		delete from doctor_menu_medicine 
		where md_id = #{mdId} 
	</delete> 
	<insert id="insert" parameterType="com.qhit.doctorMenuMedicine.pojo.DoctorMenuMedicine" > 
		insert into doctor_menu_medicine(menu_id,code_id,amt) 
		values (#{menuId},#{codeId},#{amt}) 
	</insert> 
	<update id="updateSelective" parameterType="com.qhit.doctorMenuMedicine.pojo.DoctorMenuMedicine" > 
		update doctor_menu_medicine 
		<set > 
			<if test="menuId != null and menuId!='' " > 
				menu_id = #{menuId}, 
			</if> 
			<if test="codeId != null and codeId!='' " > 
				code_id = #{codeId}, 
			</if> 
			<if test="amt != null and amt!='' " > 
				amt = #{amt}, 
			</if> 
		</set> 
		where md_id = #{mdId} 
	</update> 
	<update id="update" parameterType="com.qhit.doctorMenuMedicine.pojo.DoctorMenuMedicine" > 
		update doctor_menu_medicine 
		set  menu_id = #{menuId}, code_id = #{codeId}, amt = #{amt} 
		where md_id = #{mdId} 
	</update> 
	<select id="findAll" resultMap="BaseResultMap" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_menu_medicine 
	</select> 
	<select id="findByMenuId" resultMap="doctorMenuMedicineResultMap" parameterType="java.lang.Integer" >
		select dmm.menu_id,dmm.code_id,dmm.amt,mc.MEDICINE_NAME
		from doctor_menu_medicine dmm join medicine_code mc on dmm.code_id = mc.code_id
		where menu_id = #{0}
	</select> 
	<select id="findByCodeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_menu_medicine 
		where code_id = #{codeId} 
	</select> 
	<select id="findByAmt" resultMap="BaseResultMap" parameterType="java.lang.Integer" > 
		select 
		<include refid="Base_Column_List" /> 
		from doctor_menu_medicine 
		where amt = #{amt} 
	</select> 
	<delete id="deleteBatch" parameterType="java.util.Arrays"> 
		delete from doctor_menu_medicine where md_id in 
		<foreach collection="array" item="id" open="(" close=")" separator=","> 
			#{id} 
		</foreach> 
	</delete> 
	<select id="search" parameterType="com.qhit.doctorMenuMedicine.pojo.DoctorMenuMedicine" resultMap="BaseResultMap"> 
		select * from  doctor_menu_medicine 
		<where > 
			<if test="menuId != null and menuId!='' " > 
				 and menu_id = #{menuId} 
			</if> 
			<if test="codeId != null and codeId!='' " > 
				 and code_id = #{codeId} 
			</if> 
			<if test="amt != null and amt!='' " > 
				 and amt = #{amt} 
			</if> 
		</where> 
	</select> 
</mapper> 
